certifi==2026.7.22
charset-normalizer==3.5.1
docutils==0.23
filetype==1.2.0
idna==3.20
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
packaging==26.3
Pygments==2.21.0
pypiwin32==223
pywin32==312
requests==2.34.2
setuptools==84.0.0
urllib3==2.8.0
wheel==0.48.0
